}

}

.eb-garamond {
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
}

.navigation-list {
    display: flex;
}

}

}


 }

 }

}

}

    text-decoration: none;
}

}

}

}

.profile-pic {
}

    height: 250px;
    width: 250px;
}

}
}

    text-align: center;
}

/*}*/

/*}*/


        }
        }
        }
    }




}