/*CSS variables inside the global scope of root*/
:root {
    /*Colors*/
    --index-background-color: #6EFFCF;
    --default-text-black-color: #000000;
    --white: #ffffff;
    --yellow: #ffff00;
    --darkblue: #00008b;
    --red: #ff0000;
    --lightblue: #add8e6;
    --green: #008000;
    --cornflowerblue: #6496ed;
    --pink: #ffc0cb;
    /*fonts*/
    --fontweight: normal;
    --fontfamily: "EB Garamond", Serif;
    --fontsize: 18px;
    --footer-scale: scale(1.1);
    --Width-social-icons: 32px;
}

* {
    box-sizing: border-box;
}

/*INDEX.HTML*/
.eb-garamond {
    font-family: var(--fontfamily), serif;
    font-optical-sizing: auto;
    font-weight: var(--fontweight);
    font-style: normal;
    font-size: var(--fontsize);
    line-height: 1.5;
    color: var(--default-text-black-color);
    background-color: var(--lightblue);
}

.flex-container {
    display: flex;
}




.navigation-list {
    display: flex;
    list-style: none;
    position: fixed;
    margin-left: 260px;
}

/*index.html logo and development transform animation alternate element 3*/
@keyframes development {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(50deg);
    }
}
/*index.html, about.html, contact.html, work.html, not working.*/
.development {
    /*animation-name: development;*/
    /*animation-duration: 5s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    /*animation-timing-function: linear;*/
    position: relative;
    top: 78px;
}


/*index.html*/
.img1 {
    width: 100px;
    height: 100px;
}

@keyframes pupil {
    0% {
        fill: var(--index-background-color);
    }
    25% {
        fill: var(--pink);
    }
    75% {
        fill: var(--yellow);
    }
    100% {
        fill: var(--default-text-black-color) ;
    }
}

svg {
    margin-left: 350px;
    transition: ease 0.5s;
}

svg:hover {
    transform: rotate(360deg);
}

.pupil {
    animation-name: pupil;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.navigation-list a {
    text-decoration: none;
    color: var(--default-text-black-color);
}

/*buttons for index.html*/
.nav-buttons {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    background-color: var(--white);
}

.nav-buttons a {
    color: var(--default-text-black-color);
}

.nav-buttons:hover {
    transform: scale(1.2);
    transition-property: color;
    transition-duration: 1.5s;
    background-color: var(--pink);
}


.profile-pic {
    margin-top: 150px;
}


#index-profile-pic {
    float: right;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}



/*Hell world statement intro statement index.html*/
@keyframes colorChange {
    10%{
        color: var(--red);
    }
    25% {
        color: var(--lightblue);
    }
    50% {
        color: var(--green);
    }
    75% {
        color: var(--yellow);
    }
    100% {
        color: var(--darkblue);
    }
}

/*Color animation change index.html*/
#hello-border  {
    font-style: inherit;
    font-size: 20px;
    animation: colorChange 5s infinite;
    text-align: center;
    background-color: var(--pink);
    border: 2px solid var(--cornflowerblue);
}

/*About.html*/
#resume-button {
    border: var(--default-text-black-color) solid 2px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white);
    text-decoration: none;
    position: relative;
    top: 100px;
    left: 335px;
    color: var(--default-text-black-color);
}

#resume-button:hover {
    background-color:  var(--cornflowerblue);
    color: var(--default-text-black-color);
}

#div-about-paragraph {
    position: relative;
    left: 25px;
    margin-top: 200px;
}

b {
    color: var(--white);
    background-color: var(--pink)
}

#about-Brian, #about-eye-development, #core-services {
    display: inline-flex;
    margin-left: 30%;
}


/*About.html*/
#skills-and-experience {
    display: block;
    margin: 100px 0 0 30%;
    text-decoration: underline;
}


/*about.html*/

td, th {
    border: solid 2px black;
}

th {
    background-color: var(--pink);
}


#about-paragraph {
    line-height: 1.8;
}

#about-paragraph:hover {
   background-color: yellow;
}







 /*Contact.html*/
#contact-h1 {
    margin-left: 500px;
}
#form-div {
    margin:10px 0 0 500px;
}

#form-form {
    line-height: 100px;
}

#contact-div {
    margin: 0 0 20px 500px;

}

#contact-div-button {
    background-color: var(--white);
    padding: 10px;
    border: 1px solid var(--default-text-black-color);
    border-radius: 100%;
}


#contact-div a {
    color: var(--default-text-black-color);
    text-decoration: none;
    margin-right: 20px;
}

 a:visited {
     /*color: var(--red);*/
 }

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: var(--red);
}

/*examples for buttons on html*/
/*#default-buttons {*/
/*    display: inline-block;*/
/*    font-family: inherit;*/
/*    background-color: var(--white);*/
/*    color: var(--white);*/
/*    text-decoration: none;*/
/*    padding: 10px;*/
/*    border-radius: 3px;*/
/*    transition: opacity 0.2s;*/
/*}*/

/*#default-buttons:hover,*/
/*#default-buttons:focus,*/
/*#default-buttons:hover,*/
/*#default-buttons:focus,*/
/*                {*/
/*    cursor:pointer;*/
/*    opacity: 0.8;*/
/*}*/


#linkedin, #git {
    width: var(--Width-social-icons);
}

#linkedin:hover, #git:hover {
    transform: scale(1.2);

}



main {
    display: grid;
    align-content: space-evenly;
}






.page-footer {
    display: block;
    top: 200px;
    margin: 100px 350px 100px 460px;
}







/*work.html*/
#work {
    text-decoration: underline;
}
.grid-item:hover {
    background-color: var(--cornflowerblue);
    transform: scale(1.1);
}







