/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*CSS variables inside the global scope of root*/
:root {
    /*Colors*/
    /*fonts*/
}

*
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

/*INDEX.HTML*/
.eb-garamond {
    font-family: "EB Garamond", Serif, serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    background-color: #add8e6;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}




.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-inline-start: 0;
}



/*index.html logo and development transform animation alternate element 3*/
@-webkit-keyframes development {
    0% {
    }

    100% {
        transform: rotate(50deg);
    }
}
@keyframes development {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(50deg);
    }
}
/*index.html, about.html, contact.html, work.html, not working.*/
.development {
    /*animation-name: development;*/
    /*animation-duration: 5s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    /*animation-timing-function: linear;*/
    position: relative;
    top: 78px;
}


/*index.html*/
.img1 {
    width: 100px;
    height: 100px;
}

@-webkit-keyframes pupil {
    0% {
        fill: #6EFFCF;
    }
    25% {
        fill: #ffc0cb;
    }
    75% {
        fill: #ffff00;
    }
    100% {
        fill: #000000;
    }
}

@keyframes pupil {
    0% {
        fill: #6EFFCF;
    }
    25% {
        fill: #ffc0cb;
    }
    75% {
        fill: #ffff00;
    }
    100% {
        fill: #000000;
    }
}

svg { -webkit-transition: ease 0.5s;
     -o-transition: ease 0.5s;
     transition: ease 0.5s;overflow: visible;
     max-height: 200px;
     max-width: 200px;
     margin-left: auto;
    }

svg:hover {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.pupil {
    -webkit-animation-name: pupil;
    animation-name: pupil;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.nav-main {
    margin-left: auto;
}

.navigation-list a {
    text-decoration: none;
    color: #000000;
}

/*buttons for index.html*/
.nav-buttons {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #000000;
}

.nav-buttons a {
    color: #000000;
}

.nav-buttons:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    background-color: #ffc0cb;
}


.profile-pic {
    margin-top: 150px;
}


#index-profile-pic {
    float: right;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}



/*Hell world statement intro statement index.html*/
@-webkit-keyframes colorChange {
    10%{
        color: #ff0000;
    }
    25% {
        color: #add8e6;
    }
    50% {
        color: #008000;
    }
    75% {
        color: #ffff00;
    }
    100% {
        color: #00008b;
    }
}
@keyframes colorChange {
    10%{
        color: #000000;
    }
    25% {
        color: #ffffff;
    }
    50% {
        color: #000000;
    }
    75% {
        color: #ffffff;
    }
    100% {
        color: #000000;
    }
}

/*Color animation change index.html*/
#hello-border  {
    font-style: inherit;
    font-size: 20px;
    -webkit-animation: colorChange 5s infinite;
    animation: colorChange 5s infinite;
    text-align: center;
    background-color: cornflowerblue;
    border: 2px solid #6496ed;
}

/*About.html*/
#div-about-paragraph {
    position: relative;
    left: 25px;
    margin-top: 200px;
}

b {
    color: #ffffff;
    background-color: #ffc0cb
}

#about-Brian, #about-eye-development, #core-services {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 30%;
}


/*About.html*/
#skills-and-experience {
    display: block;
    margin: 100px 0 0 30%;
    text-decoration: underline;
}


/*about.html*/

td, th {
    border: solid 2px black;
}

th {
    background-color: #ffc0cb;
}


#about-paragraph {
    line-height: 1.8;
}

#about-paragraph:hover {
    background-color: orange;
}







/*Contact.html*/
#contact-h1 {
    margin-left: 50%;
}
#form-div {
    margin-left: 50%;
}

#form-form {
    line-height: 100px;
}

#contact-div {
    margin-left: 50%;

}

#contact-div-button {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 100%;
}


#contact-div a {
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

a:visited {
    /*color: var(--red);*/
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: #ff0000;
}

/*examples for buttons on html*/
/*#default-buttons {*/
/*    display: inline-block;*/
/*    font-family: inherit;*/
/*    background-color: var(--white);*/
/*    color: var(--white);*/
/*    text-decoration: none;*/
/*    padding: 10px;*/
/*    border-radius: 3px;*/
/*    transition: opacity 0.2s;*/
/*}*/

/*#default-buttons:hover,*/
/*#default-buttons:focus,*/
/*#default-buttons:hover,*/
/*#default-buttons:focus,*/
/*                {*/
/*    cursor:pointer;*/
/*    opacity: 0.8;*/
/*}*/


#linkedin {
    width: 32px;
}


#git {
    width: 32px;
}

#linkedin:hover, #git:hover {
    transform: scale(1.2);

}



main {
    display: -ms-grid;
    display: grid;
    align-content: space-evenly;
}






.page-footer {
    display: flex;
    /*top: 200px;*/
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}







/*work.html*/
#work {
    text-decoration: underline;
}
.grid-item:hover {
    background-color: #6496ed;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .eb-garamond {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .flex-container {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;

    }

    .nav-main {
       display: flex; 
        

    }

      .navigation-list {
        flex-direction: column;
    }

    .eyelid {
        max-width: 100px;
    }

}
